#HOME{
    min-height: 100vh;
    width: 100%;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('pics/hog.png');
    background-position: center;
    background-size: cover; */
    /* display: none; */
}
.data-card{
    height: 20rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    border-radius: .6rem;
    background: linear-gradient(220deg, gold 70%, skyblue 20%);
    border: 2px solid black;
    box-shadow: 0 0 10px black,
    0 0 20px black;
}